/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&family=Prompt:wght@500;600&display=swap');

:root{
    /* --orange:rgb(235, 180, 0); */
    --orange:rgb(255, 210, 62);
    --gray: rgb(151, 151, 151);
    --darkgreen:rgb(1, 82, 1);
    --lightgreen:#39d353;
    --midgreen:#0a7239;
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    /* font-family: 'Prompt', sans-serif; */
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #111;       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--orange);    /* color of the scroll thumb */
    border-radius: 3.5px;       /* roundness of the scroll thumb */
    border: 2px solid var(--orange);  /* creates padding around scroll thumb */
  }

.container{
    background-color: rgb(21, 20, 20);
}

.salute{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saluteTextContainer{
    flex:3
}

.saluteImgContainer{
    flex: 1;
}

.saluteText{
    color:var(--gray);
    font-size: 46vw;
    letter-spacing: 2vw;
    cursor: default;
}

.saluteImg{
    width: 96%;
}

.nameContainer{
    height: 100vh;
    /* background-color:rebeccapurple; */
}
.name{
    font-size: 20vw;
    /* color: rgb(151, 151, 151); */
    text-align: center;
    line-height: 100vh;
    /* background-color: var(--orange); */
    color: #333;
    opacity: 100%;
    letter-spacing: 1.6vw;
}

.titleContainer{
    height: 100vh;
}

.dark{
    background: url("../img/bg1.png");
}

.blanched{
    background: var(--orange) url("../img/bg2.png");
}

.title_dark{
    font-size: 10vw;
    color: var(--gray);
    line-height: 100vh;
}

.title_blanched{
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
}

a, .textlink{
    color: rgb(151, 151, 151);
    text-decoration: none;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0 10vh;
}

.projectsTitle{
    font-size: 11vw;
    color: var(--gray);
}

.project{
    display: flex;
    align-items: center;
    gap:100px;
    height: 105vh;
    /* padding-bottom: 100px; */
    overflow:hidden;
}

.project:nth-child(2n){
    flex-direction: row-reverse;
}

.phone{
    flex:1;
    width:297px;
    height:600px;
    position: relative;
}

.phoneScreen{
    width:264px;
    height:567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 30px;
    overflow: scroll;
}

.phoneScreen::-webkit-scrollbar{
    display: none;
}

.phoneApp{
    width: 102.1%;
}

.projectDetail{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.projectTitle{
    font-size: 6.5vw;
    color: grey;
    letter-spacing: 1.5px;
    text-align: left;
}

.projectDesc{
    font-size: 25px;
    color: #666;
    text-align: justify;
    line-height: 40px;
    /* word-spacing: 1px; */
    /* letter-spacing: 1px; */
}

.projectButton{
    width: 10rem;
    height: 4rem;
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid #666;
    border-radius: 7px;
    color: #666;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectButton::after{
    content:"View Github";
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: rgb(23, 23, 23);

}

.projectButton:hover.projectButton::after{
    transform: translateX(100%);
}

.laptop{
    width: 600px;
    height: 379px;
    flex:1;
    position: relative;
}

.laptopScreen{
    width: 451px;
    height: 286px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
}

.laptopApp{
    width: 111%;

}

.laptopApp1{
    width: 103.5%;

}
.laptopScreen::-webkit-scrollbar {
    display: none;
  }

.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.githubTitle{
    font-size: 100px;
    color: #666;
}

.githubChart{
    width: 820px;
}

.dates{
    padding: 10px;
    color: gray;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.boxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.box{
    width: 15px;
    height: 15px;
    background-color: #222;
    border-radius: 2px;
    cursor: pointer;
    transition: 3s all cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
}

.active:nth-child(5n){
    background-color: var(--darkgreen);
}

.githubChart:hover .active:nth-child(2n+1){
    background-color: var(--midgreen);
}

.githubChart:hover .active:nth-child(2n){
    background-color: var(--lightgreen);
}

.githubChart:hover .active:nth-child(4n+1){
    background-color: var(--darkgreen);
}
