@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

:root{
    /* --orange:rgb(235, 180, 0); */
    --orange:rgb(255, 210, 62);
    --gray: rgb(151, 151, 151);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Goudy Bookletter 1911', serif;
}

.container{
    background-color: rgb(21, 20, 20);
}

.salute{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.saluteTextContainer{
    flex:3
}

.saluteImgContainer{
    flex: 1;
}

.saluteText{
    color:var(--gray);
    font-size: 46vw;
    letter-spacing: 2vw;
    cursor: default;
}

.saluteImg{
    width: 96%;
}

.nameContainer{
    height: 100vh;
    /* background-color:rebeccapurple; */
}
.name{
    font-size: 20vw;
    /* color: rgb(151, 151, 151); */
    text-align: center;
    line-height: 100vh;
    /* background-color: var(--orange); */
    color: #333;
    opacity: 100%;
    letter-spacing: 1.6vw;
}

.titleContainer{
    height: 100vh;
}

.dark{
    background: url("../img/bg1.png");
}

.blanched{
    background: var(--orange) url("../img/bg2.png");
}

.title_dark{
    font-size: 10vw;
    color: var(--gray);
    line-height: 100vh;
}

.title_blanched{
    font-size: 10vw;
    color: #333;
    line-height: 100vh;
}